header{
    background: url(../images/slider_background.jpg) center/cover;
    height: 100vh;
}
.courses_back{
    background: url(../../images/courses_background.jpg) center/cover;
    height: 300px;
}